/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------our css------------ */
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.clearflix::before,
.clearflix::after,
.clearflix {
  content: "";
  display: table;
}

.clearflix::after {
  clear: both;
}

.font {
  font-family: "DM Serif Display", serif;
  font-family: "DM Serif Display", serif;
  font-family: "Karla", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 32px;
}
.container2 {
  max-width: 900px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: black;
  font-size: 32px;
}
h2 {
  color: black;
  font-size: 50px;
  font-weight: lighter;
}
h3 {
  color: black;
  letter-spacing: 4px;
  font-size: 20px;
}
h4 {
  color: black;
  font-size: 29px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
h5 {
  color: black;
}
h6 {
  font-size: 14px;
  margin-top: 2rem;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

/* header */

.header span {
  font-size: 14px;
  margin-right: 2rem;
  color: white;
}
.header-icons i {
  font-size: 14px;
  margin-right: 10px;
  color: white;
}

.header-row1 {
  background-color: #022d5b;
  padding: 0.8rem 0;
}
.header-row2 {
  padding: 2rem 0;
}
.header-navs a {
  margin-left: 15px;
  color: #022d5b;
  font-size: 14px;
  font-weight: 700;
}
.contact-link {
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  background-color: #f8646a;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

/*               footer    */

.footer {
  padding: 7rem 0;
}

.footer-col1-1 {
  width: 30%;
  margin: 1%;
  height: 20rem;
}
.footer-col1-2 {
  width: 20%;
  margin: 1%;
  height: 20rem;
}

.footer-navs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-col1 h3 {
  color: #022d5b;
  font-weight: 800;

  font-size: 20px;
  letter-spacing: normal;
}

.footer-col1 p {
  color: #022d5b;
  font-size: 15px;
  letter-spacing: normal;
  padding-top: 2rem;
}
.footer-icons {
  padding-top: 2rem;
}
.footer-icons i {
  padding: 5px;
}

.footer-navs a {
  margin-top: 10px;
  color: #2b4a68;
}

.footer h6 {
  text-align: center;
  font-size: 10px;
  color: rgb(66, 65, 65);
  font-weight: 700;
}

/*                           home-sec1 */
.home-sec1 {
  background: url("../../assets/media/hero/h1_hero.png") no-repeat 50% 50%;
  height: 85vh;
  width: 100%;
  background-size: cover;
}

.hero1 {
  padding: 6rem 0;
}

.hero1 h3 {
  color: #f8646a;
  font-size: 14px;
  text-transform: uppercase;
}
.hero1 h2 {
  font-weight: 800;
  text-transform: uppercase;
  color: #022d5b;
  line-height: 1.4;
}

.btn-2 {
  margin-left: 0;
  font-weight: 600;
  font-size: 12px;
  padding: 0.7rem 2.3rem;
  margin-top: 50px;
}

/*                           home-sec2 */

.home-sec2 {
  padding: 6rem 0;
  background-color: #f6f9fe;
}
.flex-center {
  display: flex;
  justify-content: center;
}

.home-col1 {
  width: 30.33%;
  margin: 1.5%;
}
.home-col1 img {
  width: 100%;
  height: auto;
}
.home-col1 h3 {
  font-weight: 700;
  letter-spacing: normal;
  padding-top: 1.5rem;
}

.home-col1 p {
  font-weight: 400;
  padding-top: 1.5rem;
  font-size: 12px;
  color: #022d5b;
}
.home-col1-3 {
  padding: 1.3rem;
  border: 4px solid #f8646a;
  background-color: white;
}
.home-col1-3 h2 {
  font-size: 36px;
  font-weight: 800;
  color: #191d34;
}
.home-col1-3 h4 {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0;
  margin-top: 10px;
  color: #022d5b;
}

.red-underline {
  height: 4px;
  background-color: #f8646a;
  width: 100px;
  margin-top: 1rem;
  border-radius: 40px;
}

/*                                home-sec3 */

.home-sec3 {
  padding: 6rem 0;
  vertical-align: bottom;
}

.home-sec3-img {
  height: auto;
  width: 500px;
}

.home-sec3-div {
  width: 500px;
  height: 350px;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
  vertical-align: bottom;
  background-color: rgba(255, 255, 255, 0.733);
  position: relative;
  top: 70px;
  right: 100px;
}

.home-sec3 h2 {
  font-size: 40px;
  font-weight: 800;
  color: #191d34;
}
.home-sec3 p {
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 13px;
  color: #022d5b;
}

/*            home-sec4 */

.home-sec4 {
  text-align: center;
  padding: 6rem 0;
}

.home-sec4 h2 {
  font-weight: 800;
  text-shadow: 1px 1px rgb(85, 85, 85);
  padding-bottom: 10rem;
  color: #191d34;
}

.home-col4 {
  width: 30%;
  margin: 1.5%;

  padding: 2px;
}
.home-col4 i {
  font-size: 32px;
  padding: 1rem 0;
}
.home-col4 h3 {
  font-weight: 900;
  letter-spacing: normal;
  font-size: 24px;
  padding: 1rem 0;
  color: #022d5b;
}
.home-col4 p {
  font-size: 14px;
  padding: 1rem 0;
  color: #022d5b;
}

.btn-3 {
  margin-top: 5rem;
  font-weight: 700;
  color: #f8646a;
  background-color: white;
  border: 1px solid #f8646a;
}

/*          home-sec5 */

.home-sec5 {
  padding: 6rem 0;
  background-color: #f6f9fe;
}

.home-col5 {
  width: 48%;
  margin: 1%;
}

.home-sec5 h2 {
  font-weight: 800;
  font-size: 40px;
  padding: 1rem 0;
  color: #191d34;
}

.home-sec5 p {
  font-weight: 500;
  font-size: 14px;
  padding: 1rem 0;
  color: #022d5b;
  padding-bottom: 1rem;
}

.home-sec5 a {
  margin-left: 0;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
}

.home-col5-flex {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}
.home-col5-1 img {
  height: 100%;
}

.home-col5-1 {
  height: 350px;
  margin: 10px;
}

/*          home-sec6 */

.home-sec6 {
  padding: 6rem 0;
  text-align: center;
}

.home-sec6-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.gome-sec6-p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  color: #022d5b;
}

.home-sec6 i {
  color: #fbd48d;
}
.home-sec6-bold {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
.home-sec6 h4 {
  font-size: 14px;
  color: #022d5b;
}

/*              home-sec7 */

.home-sec7 {
  padding: 7rem 0;
  padding-bottom: 7rem;
}

.home-sec7 h2 {
  font-weight: 800;
  text-shadow: 1px 1px #191d34;
  padding-bottom: 6rem;
  text-align: center;
  color: #191d34;
}

.home-col7 img {
  width: 100%;
}

.home-col7 {
  width: 30%;
  margin: 1.5%;
}

.home-col7 h3 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 5px;
  line-height: 1.3;
  letter-spacing: normal;
  color: #022d5b;
}

.home-col7 h4 {
  font-size: 10px;
  color: #f8646a;
  margin-bottom: 10px;
}

.home-col7 date {
  font-size: 10px;
  color: rgb(80, 78, 78);
}

/*                home-sec8 */

.home-sec8 {
  padding: 8rem 0;
  background-color: #022d5b;
  color: white;
}

.home-col8-1 {
  width: 30%;
  margin: 2%;
}

.home-col8-2 {
  width: 60%;
  margin: 2%;
}

.home-sec8 h2 {
  font-size: 28px;
  text-shadow: 1px 1px rgb(219, 217, 217);
  font-weight: 700;
  color: white;
}
.home-sec8 p {
  font-size: 15px;
  padding-top: 20px;
}

form input,
form select {
  background-color: #022d5b;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  margin: 10px 10px;
  padding: 15px 10px;
}

.name-form,
.phone-form {
  width: 46%;
  margin: 1%;
}
.name-form::placeholder,
.phone-form::placeholder {
  color: white;
  font-weight: 800;
}

.services-form {
  width: 68%;
  margin: 1%;
}

.submit-btn {
  background-color: #f8646a;
  width: 25%;
  margin: 1%;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-weight: 600;
}

/* ------------------------------about page --------------------------- */

/* about-sec1 */

.about-sec1 {
  background-image: url("../media/hero/about_hero.jpg");
  padding: 4rem 0;

  width: 100%;
}

.about-sec1 h2,
.services-sec1 h2,
.cases-sec1 h2,
.blog-sec1 h2,
.contact-sec1 h2 {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 800;
  padding: 4rem 0;
}

/* ----------------------------------- services page ------------------------------ */

/* services-sec1 */

.services-sec1 {
  background-image: url("../media/hero/services_hero.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 4rem 0;
}

/* ----------------------------------- cases page ------------------------------ */

/* cases-sec1 */

.cases-sec1 {
  background-image: url("../media/hero/cases_hero.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 4rem 0;
}

.cases-sec2 {
  padding: 8rem 0;
}

.cases-row {
  display: flex;
  flex-wrap: wrap;
}

.cases-col1 {
  width: 30%;
  height: fit-content;
  margin: 1%;
}

.cases-col1 img {
  height: 100%;
  width: 100%;
}

.cases-col1-1 h4 {
  font-size: 18px;
  color: #191d34;
  font-weight: 700;
  letter-spacing: normal;
  margin: 0 0;
  padding: 0 0;
}

.cases-col1-1 p {
  font-size: 12px;
  font-weight: 500;
  color: #2b4a68;
}

.cases-col1-1 {
  width: 80%;
  background-color: white;
  padding-left: 20px;
  position: relative;
  top: -73px;
  bottom: 0;
  right: 0;
  left: 0;
}

/*    ---------------------  blog section----------------------- */

.blog-sec1 {
  background-image: url("../media/hero/blog_hero.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 4rem 0;
}
.blog-sec2-flex {
  align-items: flex-start;
  margin: 6rem auto;
}

.main-div {
  width: 68%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-div {
  width: 28%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-card {
  box-shadow: 1px 1px 4px rgb(80, 79, 79);
  margin: 1rem 0;
}

.blog-card img {
  width: 100%;
  height: auto;
}
.block-card-heading {
  font-weight: 800;
  background-color: #f8646a;
  height: 4.5rem;
  width: 4rem;
  border-radius: 5px;
  text-align: center;
  position: relative;
  top: o;
  left: 40px;
  right: 0;
  bottom: 65px;
}
.block-card-heading h2 {
  margin-top: 5px;
  font-size: 20px;
  color: white;
  line-height: normal;
}
.block-card-heading h3 {
  margin-top: 5px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: normal;
  color: white;
  line-height: normal;
}

.blog-card h4 {
  margin-top: 5px;
  padding-left: 1rem;
  font-size: 20px;
  font-weight: 700;
  color: #191d34;
}

.blog-card p {
  margin-top: 5px;
  padding-left: 1rem;
  font-size: 14px;
  font-weight: 400;
  color: #022d5b;
}

.blog-card span {
  margin-top: 5px;
  padding-left: 1rem;
  font-size: 10px;
  font-weight: 500;
  color: #2b4a68;
}

.blog-card-2 {
  box-shadow: 1px 1px 4px rgb(80, 79, 79);
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f6f9fe;
}

.blog-card-2 img {
  width: 100%;
  height: auto;
}

.flex-joint {
  display: flex;
  justify-content: center;
  height: 2rem;
}
.flex-joint input {
  width: 80%;
  background-color: white;
  border: none;
  box-shadow: 1px 1px 2px #495969;
}
.flex-joint input::placeholder {
  padding-left: 1rem;
  color: #97a1ac;
  font-size: 10px;
  font-weight: 500;
}

.flex-joint div {
  width: 20%;
  background-color: #f8646a;
  display: flex;
  justify-content: center;
}
.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-symbol {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 0.5rem 4.8rem;
  margin-top: 10px;
  width: 100%;
}

.blog-card-2-1 {
  height: 6rem;
}

.blog-nav-div {
  border-bottom: 0.5px solid #d6d9dd;
  padding-bottom: 5px;
  margin-top: 0.5rem;
}

.blog-nav-div h4 {
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 20px;
  color: #191d34;
}

.blog-nav-div a {
  font-size: 10px;
  color: #2b4a68;
}

.blog-nav-div-1 {
  margin-top: 1rem;
}

.blog-nav-div-2 {
  border-bottom: none;
}

.blog-nav-div-2 img {
  width: 30%;
}
.flex-left {
  display: flex;
  justify-content: start;
  margin: 5px;
}
date {
  font-size: 10px;
  color: rgb(80, 78, 78);
  padding-left: 10px;
}

.blog-nav-div-2 h5 {
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
}

.blog-side-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.blog-side-tags a {
  padding: 0.25rem 0.5rem;
  margin: 0.15rem;
  width: fit-content;
  font-size: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px gray;
  color: #2b4a68;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.flex-wrap img {
  width: 30%;
  margin: 1.5%;
}

.blog-subscribe input {
  width: 100%;
  height: 2rem;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 1px 1px 2px gray;
}

.blog-subscribe input::placeholder {
  font-size: 10px;
  font-weight: 600;
  padding-left: 1rem;
  color: #2b4a68;
}

.blog-subscribe a {
  padding: 0.5rem 3.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

/*    ---------------------  contact section----------------------- */

.contact-sec1 {
  background-image: url("../media/hero/blog_hero.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 4rem 0;
}

.contact-sec2,
.contact-sec3 {
  padding: 5rem 0;
}

.contact-sec2 iframe {
  width: 100%;
}

.contact-col1 {
  width: 68%;
  margin: 1%;
}
.contact-col2 {
  width: 28%;
  margin: 1%;
}
.contact-sec3 input {
  border: 1px solid #d0d2d4;
  border-radius: 5px;
}

.contact-sec3 input::placeholder {
  font-size: 10px;
  color: #b4b7bb;
  text-align: start;
  text-align: left;
  padding-left: 1rem;
}

.contact-sec3-msg {
  width: 100%;
  height: 7rem;
  margin: 1rem 0;
}

.contact-sec3-sub {
  width: 100%;
  height: 2rem;
  margin: 1rem 0;
}

.contact-sec3-name {
  width: 49.5%;
  height: 2rem;
}

.contact-sec3 a {
  padding: 0.5rem 3rem;
  letter-spacing: 5px;
  font-weight: 500;
}
.contact-col1 h2 {
  margin-top: 1rem;
  font-size: 28px;
  font-weight: 800;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-col2-1 {
  width: 100%;
  margin: 1rem;
}

.contact-col2-1 i {
  font-size: 20px;
  width: 18%;
  margin: 1%;
}

.contact-col2-1-div {
  width: 78%;
  margin: 1%;
}

.contact-col2-1 h4 {
  font-size: 17px;
  margin: 0 0;
  padding: 0 0;
  color: #191d34;
}
.contact-col2-1 h5 {
  font-size: 15px;
  margin: 0 0;
  padding: 0 0;
  color: #495969;
}

/* scrolling  */
